<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
use Cake\Cache\Cache;
use Cake\Core\Configure;
use Cake\Core\Plugin;
use Cake\Datasource\ConnectionManager;
use Cake\Error\Debugger;
use Cake\Network\Exception\NotFoundException;

$this->layout = false;

if (!Configure::read('debug')) :
    throw new NotFoundException(
        'Please replace src/Template/Pages/home.ctp with your own version or re-enable debug mode.'
    );
endif;

$cakeDescription = 'CakePHP: the rapid development PHP framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        RILEVAMENTO CHIUSO
    </title>

    <?= $this->Html->meta('icon') ?>
    <?php // echo   $this->Html->css('base.css') ?>
    <?php // echo  $this->Html->css('cake.css') ?>
    <?php // echo  $this->Html->css('home.css') ?>
    <?php echo  $this->Html->css('bootstrap.min') ?>
    <?php //   echo  $this->Html->css('bootstrap') ?>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500i|Roboto:300,400,700|Roboto+Mono" rel="stylesheet">
</head>
<body class="home">

<header class="row">
 <br/><br/><br/><br/>
    <div  class="alert alert-dismissible alert-danger"  >
        <h1 align="center"> Non è possibile <strong> inserire, modificare, cancellare</strong> informazioni relative a processi, fasi e carichi di lavoro sulle risorse
            per un rilevamento chiuso</h1>
    </div>
</header>

<div class="row">
    <div class="columns large-12">
        <div class="ctp-warning alert text-center">
            <h3>
                Un rilevamento chiuso non può essere modifcato. Se si ha la necessità di modificare i dati contattare l'amministratore di sistema.
            </h3>
        </div>

    </div>
</div>


</body>
</html>
