<?php
/**
 * @var \App\View\AppView $this
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $processo->IdProcesso],
                ['confirm' => __('Are you sure you want to delete # {0}?', $processo->IdProcesso)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Processo'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Fase'), ['controller' => 'Fase', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Fase'), ['controller' => 'Fase', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="processo form large-9 medium-8 columns content">
    <?= $this->Form->create($processo) ?>
    <fieldset>
        <legend><?= __('Edit Processo') ?></legend>
        <?php
            echo $this->Form->control('IdTipoProcesso');
            echo $this->Form->control('CheckIdTipoProcesso');
            echo $this->Form->control('NomeProcesso');
            echo $this->Form->control('DescrizioneProcesso');
            echo $this->Form->control('NomeFunzione');
            echo $this->Form->control('IdStruttura');
            echo $this->Form->control('CheckIdStruttura');
            echo $this->Form->control('IdRilevamento');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
